{% layout 'base.html' %}

{% block content %}
<main id="main-content" tabindex="-1">
  <div class="max-w-2xl mx-auto px-4 sm:px-6 lg:px-8">
    <h1 class="text-3xl font-bold text-gray-900">
      <span class="header-bg">{{ intro.title }}</span>
    </h1>
  </div>
  <div class="max-w-2xl mx-auto px-4 sm:px-6 lg:px-8">
    <div class="py-8 text-gray-700 leading-8 font-bold italic">
      <p class="text-xl">
        {{ intro.desc }}
      </p>
    </div>
    <div class="prose prose-lg text-black">
      {{ content }}
    </div>
  </div>
</main>
{% endblock %}
