---
import Base from "@/layouts/Base.astro";
---
<Base title="rhyses pieces | about">
  <h1>More about me...</h1>

  <p>My name is Rhys Kim, and I'm a web dev who's obsessed with getting details right.</p>
</Base>