---
import Base from "@/layouts/Base.astro";
---

<Base>
  <h1>contact me</h1>
  <form method="post">
    <label for="name">
      <input type="text" />
    </label>
    <label>
      <input type="email" />
    </label>
    <label for="">
      
    </label>
  </form>
</Base>
