---
import Base from "@/layouts/Base.astro";
import FormField from "@/components/FormField.astro";
import suite from "@/utils/suite";

const errors = { name: "", email: "", message: "" };
if (Astro.request.method === "POST") {
  try {
    const form = await Astro.request.formData();
    const data = {
      name: form.get("name")?.toString(),
      email: form.get("email")?.toString(),
      message: form.get("message")?.toString(),
    }
    const validationResult = suite(data);
    
    if (validationResult.isValid()) {
      const url = `https://script.google.com/macros/s/AKfycbzori2u_tMDq_9FmorLbU6kG65r68whXMCO8rVPjsgpBWHizf6rzHG3gLG04jc45AQR4w/exec`;

      const response = await fetch(url, {
        method: "POST",
        body: JSON.stringify(data),
        headers: {
          "Content-Type": "text/plain;charset=utf-8",
        },
      });

      const result = await response.json();
      console.log(result);
    } else {
      if (validationResult.hasErrors("name")) {
        errors.name += validationResult.getErrors("name")[0];
      }
      
      if (validationResult.hasErrors("email")) {
        errors.email += validationResult.getErrors("email")[0];
      }

      if (validationResult.hasErrors("message")) {
        errors.message += validationResult.getErrors("message")[0];
      }
    }
  } catch (error) {
    if (error instanceof Error) {
      console.error(error.message);
    }
  }
}
---
<Base title="rhyses pieces | contact">
  <h1>Contact me</h1>
  <p>You can find me at these places: </p>
  <ul>
    <li><a href="https://github.com/rhyses-pieces" target="_blank" rel="noopener noreferrer">GitHub</a></li>
    <li><a href="https://www.linkedin.com/in/irene-kim-1a8079115/" target="_blank" rel="noopener noreferrer">LinkedIn</a></li>
    <li><a href="https://rhyses-pieces.itch.io/" target="_blank" rel="noopener noreferrer">Itch.io</a></li>
  </ul>

  <p>... or you can: </p>

  <h2>Send me a message</h2>
  <form id="contact" action="#" method="post" novalidate>
    <label for="name">
      Name
      <FormField el="input" type="text" name="name" id="name" aria-describedby="name-help" />
    </label>
    <small class="help" id="name-help">Name is required.</small>
    {errors.name && <small class="error" id="name-help"><strong>Error:</strong> {errors.name}</small>}
    <label for="email">
      Email
      <FormField el="input" type="email" name="email" id="email" aria-describedby="email-help" />
    </label>
    <small class="help" id="email-help">Email is required, and should be formatted as an email.</small>
    {errors.email && <small class="error" id="email-help"><strong>Error:</strong> {errors.email}</small>}
    <label for="message">
      Message
      <FormField el="textarea" name="message" id="message" rows="10" aria-describedby="message-help" />
    </label>
    <small class="help" id="message-help">Message is required.</small>
    {errors.message && <small class="error" id="name-help"><strong>Error:</strong> {errors.message}</small>}
    <input type="hidden" name="_gotcha" tabindex="-1" autocomplete="off" style="display:none" />
    <button type="submit">Send</button>
  </form>
</Base>

<style>
  form {
    display: flex;
    flex-flow: column;
    
    & label {
      display: flex;
      flex-flow: inherit;
      gap: 0.5rem;
      margin-top: 1rem;
    }

    & [id$="-help"] {
      opacity: 0.95;
      margin-top: 0.5rem;

      &.error {
        padding: 0.25rem 0.5rem;
        background-color: var(--red-bg);
        color: var(--text-on-red);
        border: 1px solid var(--red);
        border-radius: var(--border-radius);
      }
    }

    & button {
      width: min-content;
      align-self: center;
      font-size: 2rem;
      margin: 1rem 0 3rem;
    }
  }
</style>

<script>
  document.addEventListener("DOMContentLoaded", () => {
    const form = document.getElementById("contact");
  })
</script>