---
import Base from '@/layouts/Base.astro';
---
<Base title="rhyses pieces">
  <section id="intro">
    <h1>Hi there! <span id="hand-wave" title="hand waving">👋</span></h1>
    <p>My name is Rhys Kim, and I’m a web developer who likes to make games. This is my portfolio / personal website! You can check out some of my stuff by navigating the nav bar at the top.</p>
    <p>Enjoy your stay!</p>
  </section>
</Base>

<style>
  section:only-child {
    min-height: calc(90vh - 2rem + 2px);
  }

  #intro {
    display: grid;
    place-content: center;
    gap: 1lh;

    #hand-wave {
      display: inline-block;
      transition: transform 0.5s ease;

      @media (prefers-reduced-motion: no-preference) {
        &:hover {
          transform: rotate(25deg);
          cursor: default;
        }
      }
    }
  }
</style>