<button 
  id="theme-switch" 
  aria-labelledby="theme-switch-label" 
  aria-pressed="false"
  transition:persist="theme"
>
  <span id="theme-switch-label" hidden>Switch theme</span>
  <svg xmlns="http://www.w3.org/2000/svg" id="theme-icon" role="img" aria-labelledby="theme-icon-label" focusable="false" viewBox="0 0 24 24">
    <title id="theme-icon-label">Set theme</title>
    <path d="M12 8a2.83 2.83 0 0 0 4 4 4 4 0 1 1-4-4"/><path d="M12 2v2"/><path d="M12 20v2"/><path d="m4.9 4.9 1.4 1.4"/><path d="m17.7 17.7 1.4 1.4"/><path d="M2 12h2"/><path d="M20 12h2"/><path d="m6.3 17.7-1.4 1.4"/><path d="m19.1 4.9-1.4 1.4"/>
  </svg>
</button>

<style>
  #theme-icon {
    width: 1em;
    height: 1em;
    fill: currentColor;
    stroke: currentColor;
    stroke-width: 2px;
    stroke-linecap: round;
    stroke-linejoin: round;
  }

  button:not(.link) {
    position: absolute;
    top: 0.35rem;
    right: 0.75rem;
    display: grid;
    place-content: center;
    font-size: 1.5rem;
    padding: 0.5rem;
    color: var(--text-on-secondary);
    background: var(--secondary);

    &:hover, &:focus { background: color-mix(in oklab, var(--secondary), #000 20%); }
    @media screen and (max-width: 800px) { position: unset; }
  }

  :global([data-theme="dark"]) button {
    &:hover, &:focus { background: color-mix(in oklab, var(--secondary), #fff 20%); }
  }
</style>

<script is:inline>
  const button = document.getElementById("theme-switch");
  const icon = document.getElementById("theme-icon");

  const theme = (() => {
    if (typeof localStorage !== "undefined" && localStorage.getItem("theme")) return localStorage.getItem("theme");
    if (window.matchMedia("(prefers-color-scheme: dark)").matches) return "dark";
    return "light";
  })();
  
  button.setAttribute("aria-pressed", theme === "dark" ? "true" : "false");
  icon.innerHTML = theme === "dark" ? `<title id="theme-icon-label">Dark mode</title><path d="M12 3a6 6 0 0 0 9 9 9 9 0 1 1-9-9Z"/>` : `<title id="theme-icon-label">Light mode</title><circle cx="12" cy="12" r="4"/><path d="M12 2v2"/><path d="M12 20v2"/><path d="m4.93 4.93 1.41 1.41"/><path d="m17.66 17.66 1.41 1.41"/><path d="M2 12h2"/><path d="M20 12h2"/><path d="m6.34 17.66-1.41 1.41"/><path d="m19.07 4.93-1.41 1.41"/>`;

  button.addEventListener("click", (e) => {
    let pressed = JSON.parse(e.currentTarget.getAttribute("aria-pressed"));
    if (pressed) {
      document.documentElement.setAttribute("data-theme", "light");
      icon.innerHTML = `<title id="theme-icon-label">Light mode</title><circle cx="12" cy="12" r="4"/><path d="M12 2v2"/><path d="M12 20v2"/><path d="m4.93 4.93 1.41 1.41"/><path d="m17.66 17.66 1.41 1.41"/><path d="M2 12h2"/><path d="M20 12h2"/><path d="m6.34 17.66-1.41 1.41"/><path d="m19.07 4.93-1.41 1.41"/>`;
      localStorage.setItem("theme", "light");
    } else {
      document.documentElement.setAttribute("data-theme", "dark");
      icon.innerHTML = `<title id="theme-icon-label">Dark mode</title><path d="M12 3a6 6 0 0 0 9 9 9 9 0 1 1-9-9Z"/>`;
      localStorage.setItem("theme", "dark");
    }
    e.currentTarget.setAttribute("aria-pressed", String(!pressed));
  });
</script>