:root[data-theme="light"] {
  --text: #000;
  --background: hsl(264, 84%, 90%);
  --primary: hsl(264, 54%, 22%);
  --secondary: hsl(264, 53%, 84%);
  --accent: hsl(43, 79%, 42%);
  --text-on-primary: #fff;
  --text-on-secondary: #000;
  --text-on-accent: #000;
  --border-color: #000;

  --red: hsl(10 63% 38%);
  --orange: hsl(32 73% 30%);
  --yellow: hsl(47 65% 26%);
  --green: hsl(143 44% 30%);
  --blue: hsl(173 58% 27%);
  --indigo: hsl(189 66% 28%);
  --red-bg: hsl(11 87% 87%);
  --orange-bg: hsl(28 92% 82%);
  --yellow-bg: hsl(46 86% 71%);
  --green-bg: hsl(140 86% 74%);
  --blue-bg: hsl(172 84% 70%);
  --indigo-bg: hsl(191 90% 79%);
  --text-on-red: hsl(10 72% 19%);
  --text-on-orange: hsl(31 84% 14%);
  --text-on-yellow: hsl(47 77% 12%);
  --text-on-green: hsl(143 52% 14%);
  --text-on-blue: hsl(173 69% 12%);
  --text-on-indigo: hsl(189 77% 13%);
}

:root[data-theme="dark"] {
  --text: #fff;
  --background: hsl(264, 84%, 10%);
  --primary: hsl(264, 54%, 78%);
  --secondary: hsl(264, 53%, 16%);
  --accent: hsl(54, 82%, 53%);
  --text-on-primary: #000;
  --text-on-secondary: #fff;
  --text-on-accent: #fff;
  --border-color: #fff;

  --red: hsl(3 78% 62%);
  --orange: hsl(28 70% 49%);
  --yellow: hsl(43 68% 42%);
  --green: hsl(127 38% 48%);
  --blue: hsl(168 57% 42%);
  --indigo: hsl(186 65% 42%);
  --red-bg: hsl(0 81% 8%);
  --orange-bg: hsl(0 81% 8%);
  --yellow-bg: hsl(39 91% 5%);
  --green-bg: hsl(125 63% 5%);
  --blue-bg: hsl(165 84% 4%);
  --indigo-bg: hsl(187 89% 5%);
  --text-on-red: hsl(6 89% 91%);
  --text-on-orange: hsl(24 94% 88%);
  --text-on-yellow: hsl(41 95% 81%);
  --text-on-green: hsl(124 90% 82%);
  --text-on-blue: hsl(165 93% 77%);
  --text-on-indigo: hsl(187 91% 82%);
}