@font-face {
  font-family: "Terminal";
  src: url("/fonts/terminal-grotesque_open.woff2") format("woff2");
  font-weight: normal;
}

@font-face {
  font-family: "Terminal";
  src: url("/fonts/terminal-grotesque.woff2") format("woff2");
  font-weight: bold;
}

@font-face {
  font-family: "Intel";
  src: url("/fonts/IntelOneMono-Regular.woff2") format('woff2');
  font-weight: normal;
}

@font-face {
  font-family: "Intel";
  src: url("/fonts/IntelOneMono-Bold.woff2") format('woff2');
  font-weight: bold;
}

@font-face {
  font-family: "Xenon";
  src: url('/fonts/MonaspaceXenonVarVF[wght\,wdth\,slnt].woff2') format('woff2');
  font-weight: 350 700;
  font-stretch: 100% 125%;
  font-style: italic 0deg;
  font-feature-settings: "calt", "ss01", "ss03";
  font-display: fallback;
}