@import "fonts.css";
@import "colors.css";

:root {
  --body-font: "Xenon", 'Roboto Slab', 'DejaVu Serif', 'Sitka Small', serif;
  --heading-font: "Terminal", Inter, Roboto, 'Helvetica Neue', 'Arial Nova', 'Nimbus Sans', Arial, sans-serif;
  --accent-font: "Intel", ui-monospace, 'Cascadia Code', 'Source Code Pro', Menlo, Consolas, 'DejaVu Sans Mono', monospace;
  --border: 2px solid;
  --box-shadow: 2px 2px 0 var(--border-color);
  --border-radius: 4px;
  --container-radius: 8px;
}

html { font-size: 100%; }

body {
  font-family: 'Roboto Slab', 'DejaVu Serif', 'Sitka Small', serif;
  color: var(--text);
  background: var(--background);
  transition: background 0.5s ease;
}

h1, h2, h3, h4, h5, h6 {
  font-family: Inter, Roboto, 'Helvetica Neue', 'Arial Nova', 'Nimbus Sans', Arial, sans-serif;
  font-weight: bold;
  margin-bottom: 1rem;
}

h5, h6 { font-weight: normal; }

h1 {font-size: 3.053em; /* 48.8px */}
h2 {font-size: 2.442em; /* 39.04px */}
h3 {font-size: 1.954em; /* 31.2px */}
h4 {font-size: 1.563em; /* 24.96px */}
h5 {font-size: 1.250em; /* 20px */}
small {
  font-family: ui-monospace, 'Cascadia Code', 'Source Code Pro', Menlo, Consolas, 'DejaVu Sans Mono', monospace;
  font-size: 0.800em; /* 12.8px */
}

a {
  color: var(--text);
  text-decoration: underline solid var(--text) 2px;
  transition: all 0.2s ease-in;

  &:hover { text-decoration-style: wavy; }
  &:active { 
    color: var(--text);
    text-decoration: none;
    transition: none;
  }
}

button {
  cursor: pointer;
  color: var(--text-on-primary);
  background: var(--primary);
  padding: 0.5rem 0.75rem;
  font-family: ui-monospace, 'Cascadia Code', 'Source Code Pro', Menlo, Consolas, 'DejaVu Sans Mono', monospace;
  font-size: 1rem;
  border: var(--border) var(--border-color);
  border-radius: var(--border-radius);
  box-shadow: var(--box-shadow);
  transition: all 0.3s ease-out;

  &:hover, &:focus { background: color-mix(in oklab, var(--primary), #fff 20%); }
  &:active { box-shadow: inset 2px 2px 0 var(--border-color); }
}

[data-theme="dark"] button {
  &:hover, &:focus { background: color-mix(in oklab, var(--primary), #000 20%); }
}

:focus {
  outline: none;
  box-shadow: 0 0 0 4px var(--accent);
}

input, textarea {
  font-family: ui-monospace, 'Cascadia Code', 'Source Code Pro', Menlo, Consolas, 'DejaVu Sans Mono', monospace;
  color: var(--text-on-secondary);
  padding: 0.5rem;
  background-color: var(--secondary);
  border: var(--border) var(--border-color);
  border-radius: var(--border-radius);
  box-shadow: var(--box-shadow);
}

/* for font loading optimization */
.fonts-loaded {
  body { font-family: var(--body-font); }
  h1, h2, h3, h4, h5, h6 { font-family: var(--heading-font); }
  button, input, textarea, small { font-family: var(--accent-font); }
}

@keyframes slideUp {
  from {
    transform: translateY(20%);
    opacity: 0;
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes slideDown {
  from {
    transform: translateY(0);
    opacity: 1;
  }
  to {
    opacity: 0;
    transform: translateY(20%);
  }
}