---
import { ViewTransitions } from "astro:transitions";
import Navbar from "@/components/Navbar.astro";
import "@/assets/styles/main.css";

interface Props {
  title: string;
}

const { title } = Astro.props;
---
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <slot name="meta" />
    <title>{title}</title>
    <ViewTransitions />
    <script src="../assets/head.ts"></script>
  </head>
  <body>
    <header>
      <a id="skip-link" href="#content">Skip to content</a>
      <Navbar />
    </header>
    <main id="content" transition:animate="fade">
      <slot />
    </main>
  </body>
</html>

<style is:global>
  a#skip-link {
    position: absolute;
    left: 0.35rem;
    padding: 0.5rem;
    color: var(--background);
    background-color: var(--text);
    text-decoration-color: var(--background);
    transform: translateY(-100%);
    transition: transform 0.3s ease-in-out;

    &:hover {
      color: var(--text);
      background-color: var(--background);
      text-decoration-color: var(--text);
    }
    &:focus { transform: translateY(20%); }
  }

  main {
    max-width: 1000px;
    margin: 0 auto;
    padding: 0 1rem;

    & > :not(h1, h2, h3, h4, h5, h6, button, input, textarea) {
      font-size: 1.125rem;

      @supports (font-feature-settings: "calt") and (font-stretch: 110%) {
        font-feature-settings: "calt";
        font-stretch: 110%;
      }
    }
    & p { line-height: 1.75; }
    & > :first-child { margin-top: 2rem; }
    & > h1:first-of-type { margin-bottom: 1rem; }
  }
</style>