---
import { ClientRouter } from "astro:transitions";
import Navbar from "@/components/Navbar.astro";
import "@/assets/styles/main.css";

interface Props {
  title: string;
}

const { title } = Astro.props;
---
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png" />
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png" />
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png" />
    <link rel="manifest" href="/site.webmanifest" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <slot name="meta" />
    <title>{title}</title>
    <ClientRouter />
    <script src="../utils/head.ts"></script>
  </head>
  <body>
    <header>
      <a id="skip-link" href="#content">Skip to content</a>
      <Navbar />
    </header>
    <main id="content" transition:animate="fade">
      <slot />
    </main>
  </body>
</html>

<style is:global>
  a#skip-link {
    position: absolute;
    left: 0.35rem;
    padding: 0.5rem;
    color: var(--background);
    background-color: var(--text);
    text-decoration-color: var(--background);
    transform: translateY(-100%);
    transition: transform 0.3s ease-in-out;

    &:hover {
      color: var(--text);
      background-color: var(--background);
      text-decoration-color: var(--text);
    }
    
    &:focus {
      transform: translateY(20%);
      box-shadow: none;
      outline: max(1px, 2px) dashed var(--text);
      outline-offset: 0.25em;
    }
  }

  main {
    display: grid;
    grid-template-columns: 1fr min(65ch, 100%) 1fr;
    justify-content: center;
    gap: 1lh;
    padding: 1rem;

    & > * { grid-column: 2; }
    
    & > :not(h1, h2, h3, h4, h5, h6, button, input, textarea) {
      font-size: clamp(1rem, 0.8438rem + 0.5vw, 1.125rem);

      @supports (font-feature-settings: "calt") and (font-stretch: 110%) {
        font-feature-settings: "calt";
        font-stretch: 110%;
      }
    }
    p { line-height: 1.75; }
    & > ul:not(.tag) {
      list-style-type: square;
      margin: 0.5rem 1rem;
      padding: 0 1.5rem;

      & > li { padding: 0.25rem 0.5rem; }
    }
  }
</style>