<header>
  <nav class="max-w-2xl mx-auto px-4 sm:px-6 lg:px-8">
    <div class="flex justify-between items-center h-16">
      <h1 class="flex flex-shrink-0 items-center space-x-1">
        <span class="header-bg py-1 px-2 rotate-2">hi</span>
      </h1>
      <ul class="flex space-x-4">
        {% for item in navigation.items %}
          {% if item.url == page.url %}
            {% assign highlight = 'cursor-default outline-dotted outline-offset-2 outline-peach-500' %}
            {% assign current = 'aria-current="page"' %}
          {% else %}
            {% assign highlight = 'underline' %}
            {% assign current = '' %}
          {% endif %}
          <li>
            <a
              href="{{ item.url }}"
              class="text-base font-bold {{ highlight }}"
              {{ current }}
            >
              {{ item.text }}
            </a>
          </li>
        {% endfor %}
      </ul>
    </div>
  </nav>
</header>
